@model IEnumerable<WebApp1.Models.Publisher>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
	<br/>頁數: @ViewBag.page
	<br/>網址: @Url.Action("Index", new { })
	<br/>網址: @Url.Action("Index", new { page=15})
	<br/>新網址: @ViewBag.newUrl
	<br/>controler名稱: @ViewBag.currentController
	<br/>page: @(ViewContext.RouteData.Values["action"])
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PublisherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PublisherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobilePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PublisherID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PublisherID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PublisherID })
        </td>
    </tr>
}

</table>
