@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>



<p>
@Html.ActionLink("書籍資料", "Index", "BookInfors") <br/>
@Html.ActionLink("出版社", "Index", "Publisher") <br/>
@Html.ActionLink("作者", "Index", "Author") <br/>
@Guid.NewGuid()
</p>


